.App {
  padding: 50px;
  margin: 2px;
  font-family: Arial, sans-serif;
}

.officeDesign {
  margin: 12px auto;
  width: 100%;
}

.textRed {
  color: red;
  font-weight: bold;
}

.textGreen {
  color: green;
  font-weight: bold;
}
